CREATE DATABASE AppointmentSchedulerDB;
GO

USE AppointmentSchedulerDB;
GO


CREATE TABLE [dbo].[Appointments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[client_name] [varchar](100) NOT NULL,
	[provider_name] [varchar](100) NOT NULL,
	[date] [date] NOT NULL,
	[time] [time](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD CHECK  (([status]='Cancelled' OR [status]='Booked'))
GO
/****** Object:  StoredProcedure [dbo].[BookAppointment]    Script Date: 13-12-2025 01:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[BookAppointment]
    @client_name VARCHAR(100),
    @provider_name VARCHAR(100),
    @date DATE,
    @time TIME
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF EXISTS (
            SELECT 1
            FROM dbo.Appointments
            WHERE provider_name = @provider_name
              AND [date] = @date
              AND [time] = @time
              AND status = 'Booked'
        )
        BEGIN
            RAISERROR('Provider already has an appointment at this date and time.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        DECLARE @new_id INT;
        INSERT INTO dbo.Appointments (client_name, provider_name, [date], [time], status)
        VALUES (@client_name, @provider_name, @date, @time, 'Booked');

        SET @new_id = SCOPE_IDENTITY();

        COMMIT TRANSACTION;

        SELECT 
            'Appointment booked' AS message,
            @new_id AS appointment_id;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        DECLARE @errMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@errMsg, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[CancelAppointment]    Script Date: 13-12-2025 01:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CancelAppointment]
    @appointment_id INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE dbo.Appointments
        SET status = 'Cancelled'
        WHERE id = @appointment_id;

        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('Appointment not found.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        COMMIT TRANSACTION;

        SELECT 'Appointment cancelled' AS message, @appointment_id AS appointment_id;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @errMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@errMsg, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAppointmentsByProvider]    Script Date: 13-12-2025 01:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetAppointmentsByProvider]
    @provider_name VARCHAR(100),
    @date DATE
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        SELECT 
            id,
            client_name,
            provider_name,
            [date],
            [time],
            status
        FROM dbo.Appointments
        WHERE provider_name = @provider_name
          AND [date] = @date
        ORDER BY [time];
    END TRY
    BEGIN CATCH
        DECLARE @errMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@errMsg, 16, 1);
    END CATCH
END;
GO
USE [master]
GO
